<!Doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&family=Fira+Sans&family=Nunito:wght@600&family=Roboto:wght@700&family=Ubuntu:wght@700&family=Yusei+Magic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
    <title>CURRENCYEXCHANGE</title>
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/65/65714.png" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="https://image.flaticon.com/icons/png/512/65/65714.png"
                alt="Currency Logo"> CURRENCY<span>EXCHANGE</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Find</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 id="head"> <img src="https://image.flaticon.com/icons/png/512/65/65714.png" alt="Currency Logo">
        CURRENCY<span>EXCHANGE</span></h1>
    <h5>CREATED BY @ ARYAN GARG &copy; 2021</h5>
    <h4>Please Take References Of The Currencies From Home Page.</h4>
    <p>It is a currency exchange web app where you can enter two currencies such as main currency and other being the
        target currency which gives you the exchange currency rate presently for day by day bases.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/result" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter Currency To Be Converted" name="curr">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter The Target Currency To Be Converted In" name="targ">
                    </div>
                    <button type="submit" class="btn btn-warning btn-toolbar">See The Result</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>